#quote-inner p {
    line-height: 36px;
}

.homily {
    font-weight: bold;
    color: red;
}

.bulletin {
  font-weight: bold;
  font-size: large;
}

.our-faith-page-link {
font-weight: bold;
  font-size: large;
}

body {
  font-size: 14px;
  line-height: 1.5em;
}